<h1>Syntax Highlighting with Rouge</h1>

<p>Below is a very simple example of some syntax highlighting.</p>

<% # Read some html from a file and pass it to our syntax_highlight helper %>
<%= syntax_highlight(File.read(Rails.root + "public/example.html")) %>
